planning-core/src/main/resources/data/schemas/plato.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<!-- Plato: Planning Tool
 developed within the EU IST FP6 project PLANETS: Preservation and Long-term Access through Networked Services,
 Contract number 033789, June 2006-May 2009.
 Subproject: PP - Preservation Planning
 Workpackage: PP4 - Preservation Plan Decision Support
 Responsible partner:  TUWIEN - Vienna University of Technology, Department of Software Technology  and Interactive Systems
 Further information:
 www.planets-project.eu
 www.ifs.tuwien.ac.at/dp -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="project">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="changelog" type="changeLogType" minOccurs="1" maxOccurs="1"/>
				<xs:element name="state" minOccurs="1" maxOccurs="1">
					<xs:annotation>
						<xs:documentation>the state of the project</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:attribute name="value" use="required">
							<xs:simpleType>
								<xs:restriction base="xs:integer">
									<xs:minInclusive value="0"/>
									<xs:maxInclusive value="12"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
				<xs:element name="properties" type="projectPropertiesType" minOccurs="1" maxOccurs="1"/>
				<xs:element name="basis" type="projectBasisType" minOccurs="1" maxOccurs="1"/>
				<xs:element name="sampleRecords" type="sampleRecordsType" minOccurs="1" maxOccurs="1"/>
				<xs:element name="alternatives" type="alternativesDefinitionType" minOccurs="1" maxOccurs="1"/>
				<xs:element name="decision" type="decisionType" minOccurs="0" maxOccurs="1">
					<xs:annotation>
						<xs:documentation>the decision is made in the workflow-step GoNoGo</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="importanceWeighting" type="importanceWeightingType" minOccurs="0" maxOccurs="1"/>
				<xs:element name="transformation" type="transformationType" minOccurs="0" maxOccurs="1"/>
				<xs:element name="tree" type="objectiveTreeType" minOccurs="1" maxOccurs="1">
					<xs:annotation>
						<xs:documentation>the objective tree of this project</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="version" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="booleanScaleType">
		<xs:sequence>
			<xs:element name="changelog" type="changeLogType"/>
		</xs:sequence>
		<xs:attribute name="restriction" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="Yes/No"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="yanScaleType">
		<xs:sequence>
			<xs:element name="changelog" type="changeLogType"/>
		</xs:sequence>
		<xs:attribute name="restriction" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="Yes/Acceptable/No"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="ordinalScaleType">
		<xs:sequence>
			<xs:element name="changelog" type="changeLogType"/>
		</xs:sequence>
		<xs:attribute name="restriction" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:pattern value="[^/]*(/([^/]*))*"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="positiveFloatScaleType">
		<xs:sequence>
			<xs:element name="changelog" type="changeLogType"/>
		</xs:sequence>
		<xs:attribute name="unit" type="xs:string" use="required"/>
		<xs:attribute name="restriction" use="optional">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:pattern value="([+][0-9]*(\.)?[0-9]*)?"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="floatScaleType">
		<xs:sequence>
			<xs:element name="changelog" type="changeLogType"/>
		</xs:sequence>
		<xs:attribute name="unit" type="xs:string" use="required"/>
		<xs:attribute name="restriction" use="optional">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:pattern value="([+-][0-9]*(\.)?[0-9]*)?"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="positiveIntegerScaleType">
		<xs:sequence>
			<xs:element name="changelog" type="changeLogType"/>
		</xs:sequence>
		<xs:attribute name="unit" type="xs:string" use="required"/>
		<xs:attribute name="restriction" use="optional">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:pattern value="([0-9]*)?"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="integerScaleType">
		<xs:sequence>
			<xs:element name="changelog" type="changeLogType"/>
		</xs:sequence>
		<xs:attribute name="unit" type="xs:string" use="required"/>
		<xs:attribute name="restriction" type="xs:integer" use="optional"/>
	</xs:complexType>
	<xs:complexType name="intRangeScaleType">
		<xs:sequence>
			<xs:element name="changelog" type="changeLogType"/>
		</xs:sequence>
		<xs:attribute name="restriction" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:pattern value="[^/]*(/([^/]*))*"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="floatRangeScaleType">
		<xs:sequence>
			<xs:element name="changelog" type="changeLogType"/>
		</xs:sequence>
		<xs:attribute name="restriction" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:pattern value="[^/]*(/([^/]*))*"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="booleanResultType">
		<xs:sequence>
			<xs:element name="changelog" type="changeLogType"/>
		</xs:sequence>
		<xs:attribute name="value" use="optional">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="Yes"/>
					<xs:enumeration value="No"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="yanResultType">
		<xs:sequence>
			<xs:element name="changelog" type="changeLogType"/>
		</xs:sequence>
		<xs:attribute name="value" use="optional">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="Yes"/>
					<xs:enumeration value="Acceptable"/>
					<xs:enumeration value="No"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="ordinalResultType">
		<xs:sequence>
			<xs:element name="changelog" type="changeLogType"/>
		</xs:sequence>
		<xs:attribute name="value" type="xs:string" use="optional"/>
	</xs:complexType>
	<xs:complexType name="positiveFloatResultType">
		<xs:sequence>
			<xs:element name="changelog" type="changeLogType"/>
		</xs:sequence>
		<xs:attribute name="value" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:decimal">
					<xs:minInclusive value="0"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="floatResultType">
		<xs:sequence>
			<xs:element name="changelog" type="changeLogType"/>
		</xs:sequence>
		<xs:attribute name="value" type="xs:decimal" use="required"/>
	</xs:complexType>
	<xs:complexType name="positiveIntegerResultType">
		<xs:sequence>
			<xs:element name="changelog" type="changeLogType"/>
		</xs:sequence>
		<xs:attribute name="value" type="xs:positiveInteger" use="required"/>
	</xs:complexType>
	<xs:complexType name="integerResultType">
		<xs:sequence>
			<xs:element name="changelog" type="changeLogType"/>
		</xs:sequence>
		<xs:attribute name="value" type="xs:integer" use="required"/>
	</xs:complexType>
	<xs:complexType name="aggregationModeType">
		<xs:attribute name="value" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="WORST"/>
					<xs:enumeration value="AVERAGE"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="alternativeType">
		<xs:sequence>
			<xs:element name="resourceDescription" type="resourceDescriptionType"/>
			<xs:element name="experiment" type="experimentType"/>
			<xs:element name="changelog" type="changeLogType"/>
		</xs:sequence>
		<xs:attribute name="discarded" type="xs:boolean"/>
		<xs:attribute name="name">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="1"/>
					<xs:maxLength value="20"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="description" type="xs:string"/>
	</xs:complexType>
	<xs:complexType name="experimentType">
		<xs:sequence>
			<xs:element name="changelog" type="changeLogType"/>
		</xs:sequence>
		<xs:attribute name="description" type="xs:string" use="optional"/>
		<xs:attribute name="runDescription" type="xs:string" use="optional"/>
	</xs:complexType>
	<xs:complexType name="evaluationType">
		<xs:annotation>
			<xs:documentation>the valueMap for this leaf: - for each alternative a list of result-values, one per sample-record. all result-values are of the same type, specified by the scale-type of the leaf</xs:documentation>
		</xs:annotation>
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element name="alternative" type="evaluatedAlternativeType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="intRangeResultType">
		<xs:sequence>
			<xs:element name="changelog" type="changeLogType"/>
		</xs:sequence>
		<xs:attribute name="value" type="xs:integer" use="required"/>
	</xs:complexType>
	<xs:complexType name="ordinalTransformerType">
		<xs:sequence>
			<xs:element name="mappings" type="mappingsType"/>
			<xs:element name="changelog" type="changeLogType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="mappingType">
		<xs:attribute name="ordinal" type="xs:string" use="required"/>
		<xs:attribute name="target" type="xs:decimal" use="required"/>
	</xs:complexType>
	<xs:complexType name="mappingsType">
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element name="mapping" type="mappingType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="numericTransformerType">
		<xs:sequence>
			<xs:element name="mode" type="modeType"/>
			<xs:element name="thresholds" type="thresholdsType"/>
			<xs:element name="changelog" type="changeLogType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="thresholdType">
		<xs:attribute name="value" type="xs:decimal" use="required"/>
		<xs:attribute name="target" type="xs:integer" use="required"/>
	</xs:complexType>
	<xs:complexType name="thresholdsType">
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element name="threshold" type="thresholdType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="modeType">
		<xs:attribute name="value" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="LINEAR"/>
					<xs:enumeration value="THRESHOLD_STEPPING"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="resourceDescriptionType">
		<xs:sequence>
			<xs:element name="changelog" type="changeLogType"/>
		</xs:sequence>
		<xs:attribute name="enhancements" type="xs:string" use="optional"/>
		<xs:attribute name="invocationParameters" type="xs:string" use="optional"/>
		<xs:attribute name="mandatory" type="xs:string" use="optional"/>
	</xs:complexType>
	<xs:complexType name="evaluatedAlternativeType">
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:annotation>
				<xs:documentation>one result-value per sample-record</xs:documentation>
			</xs:annotation>
			<xs:choice>
				<xs:element name="ordinalResult" type="ordinalResultType"/>
				<xs:element name="booleanResult" type="booleanResultType"/>
				<xs:element name="yanResult" type="yanResultType"/>
				<xs:element name="floatResult" type="floatResultType"/>
				<xs:element name="positiveFloatResult" type="positiveFloatResultType"/>
				<xs:element name="floatRangeResult" type="floatResultType"/>
				<xs:element name="intRangeResult" type="integerResultType"/>
				<xs:element name="integerResult" type="integerResultType"/>
				<xs:element name="positiveIntegerResult" type="positiveIntegerResultType"/>
			</xs:choice>
		</xs:sequence>
		<xs:attribute name="key" type="xs:string">
			<xs:annotation>
				<xs:documentation>key is the name of the alternative</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="leafType">
		<xs:complexContent>
			<xs:extension base="treeNodeType">
				<xs:sequence>
					<xs:element name="aggregationMode" type="aggregationModeType" minOccurs="0"/>
					<xs:sequence minOccurs="0">
						<xs:annotation>
							<xs:documentation>each leaf defines a property of a certain type</xs:documentation>
						</xs:annotation>
						<xs:choice>
							<xs:element name="ordinalScale" type="ordinalScaleType"/>
							<xs:element name="yanScale" type="yanScaleType"/>
							<xs:element name="booleanScale" type="booleanScaleType"/>
							<xs:element name="intRangeScale" type="intRangeScaleType"/>
							<xs:element name="floatRangeScale" type="floatRangeScaleType"/>
							<xs:element name="positiveFloatScale" type="positiveFloatScaleType"/>
							<xs:element name="floatScale" type="floatScaleType"/>
							<xs:element name="integerScale" type="integerScaleType"/>
							<xs:element name="positiveIntegerScale" type="positiveIntegerScaleType"/>
						</xs:choice>
					</xs:sequence>
					<xs:sequence minOccurs="0">
						<xs:annotation>
							<xs:documentation>transformer corresponding to the scale-type of this leaf</xs:documentation>
						</xs:annotation>
						<xs:choice>
							<xs:element name="ordinalTransformer" type="ordinalTransformerType"/>
							<xs:element name="numericTransformer" type="numericTransformerType"/>
						</xs:choice>
					</xs:sequence>
					<xs:element name="evaluation" type="evaluationType" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="treeNodeType">
		<xs:sequence>
			<xs:element name="changelog" type="changeLogType"/>
		</xs:sequence>
		<xs:attribute name="name" type="xs:string" use="required"/>
		<xs:attribute name="weight" type="xs:double" use="required"/>
		<xs:attribute name="single" type="xs:boolean" use="required"/>
		<xs:attribute name="lock" type="xs:boolean" use="required"/>
	</xs:complexType>
	<xs:complexType name="nodeType">
		<xs:complexContent>
			<xs:extension base="treeNodeType">
				<xs:choice minOccurs="0" maxOccurs="unbounded">
					<xs:element name="leaf" type="leafType"/>
					<xs:element name="node" type="nodeType"/>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="changeLogType">
		<xs:attribute name="created" type="xs:integer" use="required"/>
		<xs:attribute name="createdBy" type="xs:string"/>
		<xs:attribute name="changed" type="xs:integer" use="required"/>
		<xs:attribute name="changedBy" type="xs:string"/>
	</xs:complexType>
	<xs:complexType name="projectPropertiesType">
        <xs:sequence>
    	    <xs:element name="changelog" type="changeLogType"/>
        </xs:sequence>
		<xs:attribute name="author" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="1"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="organization" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="1"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="name" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="1"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="description" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="4"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="projectBasisType">
        <xs:sequence>
    	    <xs:element name="changelog" type="changeLogType"/>
        </xs:sequence>
		<xs:attribute name="environment" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="1"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="documentTypes" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="1"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="sampleRecordsType">
		<xs:sequence>
			<xs:sequence minOccurs="0" maxOccurs="unbounded">
				<xs:element name="record" type="sampleRecordType"/>
			</xs:sequence>
			<xs:element name="changelog" type="changeLogType"/>
		</xs:sequence>
		<xs:attribute name="samplesDescription" type="xs:string" use="required"/>
	</xs:complexType>
	<xs:complexType name="alternativesDefinitionType">
		<xs:sequence>
			<xs:sequence minOccurs="0" maxOccurs="unbounded">
				<xs:element name="alternative" type="alternativeType"/>
			</xs:sequence>
			<xs:element name="changelog" type="changeLogType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="decisionType">
		<xs:sequence>
			<xs:element name="goDecision">
				<xs:complexType>
					<xs:attribute name="value" type="xs:string" use="required"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="changelog" type="changeLogType"/>
		</xs:sequence>
		<xs:attribute name="reason" type="xs:string" use="required"/>
		<xs:attribute name="actionNeeded" type="xs:string" use="required"/>
	</xs:complexType>
	<xs:complexType name="objectiveTreeType">
		<xs:sequence>
			<xs:element name="node" type="nodeType"/>
		</xs:sequence>
		<xs:attribute name="weightsInitialized" type="xs:boolean" use="required"/>
	</xs:complexType>
	<xs:complexType name="sampleRecordType">
		<xs:sequence>
			<xs:element name="data" minOccurs="0">
				<xs:complexType>
					<xs:attribute name="value" type="xs:string"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="changelog" type="changeLogType"/>
		</xs:sequence>
		<xs:attribute name="shortName" type="xs:string" use="required"/>
		<xs:attribute name="fullname" type="xs:string" use="required"/>
	</xs:complexType>
	<xs:complexType name="transformationType">
		<xs:sequence>
			<xs:element name="changelog" type="changeLogType"/>
		</xs:sequence>
		<xs:attribute name="comment" type="xs:string" use="optional"/>
	</xs:complexType>
	<xs:complexType name="importanceWeightingType">
		<xs:sequence>
			<xs:element name="changelog" type="changeLogType"/>
		</xs:sequence>
		<xs:attribute name="comment" type="xs:string" use="optional"/>
	</xs:complexType>
</xs:schema>
