planning-core/src/main/resources/data/schemas/ptdl.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:annotation>
		<xsd:documentation xml:lang="en">
Schema for the description of preservation action tools and their context of use. This can be used to describe
seperate preservation action tools as well as tools put to a specific use (tools as part of a pathway)
</xsd:documentation>
	</xsd:annotation>
	<!-- Enumerations used by both migration and emulation tools -->
	<xsd:simpleType name="MemoryUnit">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="byte"/>
			<xsd:enumeration value="kilobyte"/>
			<xsd:enumeration value="megabyte"/>
			<xsd:enumeration value="gigabyte"/>
			<xsd:enumeration value="terabyte"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Frequency">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Hertz"/>
			<xsd:enumeration value="Kilohertz"/>
			<xsd:enumeration value="Megahertz"/>
			<xsd:enumeration value="Gigahertz"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="InterfaceType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="GUI"/>
			<xsd:enumeration value="Command line"/>
			<xsd:enumeration value="Webservice"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Speed">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Very slow"/>
			<xsd:enumeration value="Slow"/>
			<xsd:enumeration value="Average"/>
			<xsd:enumeration value="Fast"/>
			<xsd:enumeration value="Very fast"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Stability">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Very unstable"/>
			<xsd:enumeration value="Unstable"/>
			<xsd:enumeration value="Stable"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Accuracy">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Very inaccurate"/>
			<xsd:enumeration value="Inaccurate"/>
			<xsd:enumeration value="Accurate"/>
			<xsd:enumeration value="Very accurate"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="DifficultyLevel">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Very easy"/>
			<xsd:enumeration value="Easy"/>
			<xsd:enumeration value="Average"/>
			<xsd:enumeration value="Hard"/>
			<xsd:enumeration value="Very hard"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="IPR">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="GPL"/>
			<xsd:enumeration value="Proprietary commercial software"/>
			<xsd:enumeration value="Shareware"/>
			<xsd:enumeration value="Non-copylefted free software"/>
			<xsd:enumeration value="Open Source software"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- Enumerations for emulators -->
	<xsd:simpleType name="BitDepth">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="1bit"/>
			<xsd:enumeration value="2bit"/>
			<xsd:enumeration value="4bit"/>
			<xsd:enumeration value="8bit"/>
			<xsd:enumeration value="16bit"/>
			<xsd:enumeration value="24bit"/>
			<xsd:enumeration value="32bit"/>
			<xsd:enumeration value="64bit"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="AudioSampleRate">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="22050khz"/>
			<xsd:enumeration value="44100khz"/>
			<xsd:enumeration value="11025khz"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="DataExtraction">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="none"/>
			<xsd:enumeration value="text"/>
			<xsd:enumeration value="images"/>
			<xsd:enumeration value="binary"/>
			<xsd:enumeration value="text, images"/>
			<xsd:enumeration value="images, binary"/>
			<xsd:enumeration value="text, images and binary"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="InputDevice">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Mouse"/>
			<xsd:enumeration value="Keyboard"/>
			<xsd:enumeration value="Joystick"/>
			<xsd:enumeration value="Trackball"/>
			<xsd:enumeration value="Gamepad"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="StorageDevice">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="FloppyDisk"/>
			<xsd:enumeration value="CDRom"/>
			<xsd:enumeration value="Tape"/>
			<xsd:enumeration value="Cartridge"/>
			<xsd:enumeration value="USBStorageDevice"/>
			<xsd:enumeration value="Harddisk"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:element name="ptdl">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">
The main element that can be used to wrap the descriptions of sets of pathways or sets of tools
</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="Pathway" type="Pathway" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element name="MigrationTool" type="MigrationTool" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element name="EmulationTool" type="EmulationTool" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
			<xsd:attribute name="version" type="xsd:string" use="required"/>
		</xsd:complexType>
	</xsd:element>
	<!-- Definition for pathway -->
	<xsd:complexType name="Pathway">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">
This element is used to describe a collection of one or more tools that can be used to perform a preservation action. Such a set of tools is called a pathway
</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Evaluation" type="Evaluation" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="Description" type="xsd:string" minOccurs="0"/>
			<xsd:element name="EmulationTool" type="EmulationTool" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="MigrationTool" type="MigrationTool" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="Source" type="Provenance"/>
		</xsd:sequence>
		<xsd:attribute name="id" type="xsd:integer" use="required"/>
		<xsd:attribute name="status" type="xsd:string" use="required"/>
	</xsd:complexType>
	<!-- Definition for a file -->
	<xsd:complexType name="File">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">
This element describes a single file.
</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:any namespace="##local" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
			<!-- 'any'-element added for extensibility -->
		</xsd:sequence>
		<xsd:attribute name="type" use="required">
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:pattern value="(x-)?(fmt)/([0-9]*[a-z]*)+"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="optional" type="xsd:string" use="required"/>
		<!-- Attribute for specifying the file type in the form of a PRONOM PUID. Regexp allows any PUID that contains an 'fmt'-token -->
	</xsd:complexType>
	<!-- Definition for a set of files -->
	<xsd:complexType name="FileSet">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">
This element describes a set of files. It's used to specify the set of files a tool can read or write.
</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="File" type="File" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<!-- Definition for an agent -->
	<xsd:complexType name="Agent">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">
This element is used to describe the creator of a software program. This
can be either an individual person or a company.
</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Name" type="xsd:string"/>
			<xsd:element name="Description" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Address" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Website" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Mail" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Telephone" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Support" type="xsd:boolean" minOccurs="0"/>
			<xsd:element name="Source" type="Provenance" minOccurs="0"/>
			<!--xsd:any namespace="##local" processContents="lax" minOccurs="0" maxOccurs="unbounded"/-->
		</xsd:sequence>
	</xsd:complexType>
	<!-- Definition for provenance information -->
	<xsd:complexType name="Provenance">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">
This element is used to keep track of the source of the information in the registry. It can be used to describe the person or organisation that provided the information in the first place, as well as the last person or organisation that modified the information. In addition, the date the information was submitted and modified for the last time can be stored here.
</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="SuppliedBy" type="Agent"/>
			<xsd:element name="SuppliedAt" type="xsd:dateTime"/>
			<xsd:element name="LastModifiedBy" type="Agent"/>
			<xsd:element name="LastModifiedAt" type="xsd:dateTime"/>
		</xsd:sequence>
	</xsd:complexType>
	<!-- Definition for documentation -->
	<xsd:complexType name="Documentation">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">
This element is used to store information on the documentation of a software product or hardware component
</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Creator" type="Agent" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="Description" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Location" type="xsd:anyURI"/>
			<xsd:element name="ReleaseDate" type="xsd:date"/>
		</xsd:sequence>
	</xsd:complexType>
	<!-- Definition for memoryspace -->
	<xsd:complexType name="MemorySpace">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">
This element is used to describe a certain memory size,
measured in bytes, kilobytes, megabytes, or gigabytes
</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Amount" type="xsd:integer"/>
			<xsd:element name="Unit" type="MemoryUnit"/>
		</xsd:sequence>
	</xsd:complexType>
	<!-- Definition for processorspeed -->
	<xsd:complexType name="ProcessorSpeed">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">
</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Amount" type="xsd:integer"/>
			<xsd:element name="Unit" type="Frequency"/>
		</xsd:sequence>
	</xsd:complexType>
	<!-- Definition for general information for a tool. -->
	<xsd:complexType name="GeneralInfo">
		<xsd:sequence>
			<xsd:element name="Name" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="Version" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Description" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Location" type="xsd:anyURI" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="InstallGuide" type="Documentation" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="UserGuide" type="Documentation" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="ProgrammingLanguage" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CreationDate" type="xsd:date" minOccurs="0"/>
			<xsd:element name="Developer" type="Agent" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="InputFormat" type="FileSet" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="InputMaxSize" type="MemorySpace" minOccurs="0"/>
			<xsd:element name="InterfaceType" type="InterfaceType" maxOccurs="3"/>
			<xsd:element name="UILanguage" type="xsd:language" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="ProgrammingInterface" type="xsd:boolean" minOccurs="0"/>
			<xsd:element name="License" type="IPR" minOccurs="0"/>
			<xsd:element name="Price" type="xsd:decimal" minOccurs="0"/>
			<!--xsd:any namespace="##local" processContents="lax" minOccurs="0" maxOccurs="unbounded"/-->
		</xsd:sequence>
	</xsd:complexType>
	<!-- Definition for evaluation -->
	<xsd:complexType name="Evaluation">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">
This element can contain information on the experiences
people had when using a software program
</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Speed" type="Speed"/>
			<xsd:element name="Stability" type="Stability"/>
			<xsd:element name="Accuracy" type="Accuracy"/>
			<xsd:element name="DifficultyDownload" type="DifficultyLevel"/>
			<xsd:element name="DifficultyInstall" type="DifficultyLevel"/>
			<xsd:element name="DifficultyConfig" type="DifficultyLevel"/>
			<xsd:element name="DifficultyUse" type="DifficultyLevel"/>
			<xsd:element name="DifficultyAverage" type="DifficultyLevel"/>
			<!--xsd:any namespace="##local" processContents="lax" minOccurs="0" maxOccurs="unbounded"/-->
			<xsd:element name="Source" type="Provenance"/>
			<!-- Element for extensibility -->
		</xsd:sequence>
		<xsd:attribute name="reviewer" type="xsd:string" use="required"/>
	</xsd:complexType>
	<!-- Definition for a technical environment -->
	<xsd:complexType name="TechnicalEnvironment">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">
This element describes a technical environment. This can be used to describe a technical environment that's required by
a software product (a 'host environment') or a technical environment that's offered by an emulator (a 'target environment').
</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="OperatingSystem" type="sfwPUID" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="ServicePack" type="xsd:string" minOccurs="0"/>
			<xsd:element name="ProcessorType" type="xsd:string" minOccurs="0"/>
			<xsd:element name="ProcessorSpeedMinimum" type="ProcessorSpeed" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="ProcessorSpeedRecommended" type="ProcessorSpeed" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="MemoryMinimum" type="MemorySpace" minOccurs="0"/>
			<xsd:element name="MemoryRecommended" type="MemorySpace"/>
			<xsd:element name="StorageSpaceMinimum" type="MemorySpace" minOccurs="0"/>
			<xsd:element name="StorageSpaceRecommended" type="MemorySpace"/>
			<xsd:element name="ScreenResolutionHMinimum" type="xsd:integer" minOccurs="0"/>
			<xsd:element name="ScreenResolutionHRecommended" type="xsd:integer" minOccurs="0"/>
			<xsd:element name="ScreenResolutionVMinimum" type="xsd:integer" minOccurs="0"/>
			<xsd:element name="ScreenResolutionVRecommended" type="xsd:integer" minOccurs="0"/>
			<xsd:element name="ScreenColourDepthMinimum" type="BitDepth" minOccurs="0"/>
			<xsd:element name="ScreenColourDepthRecommended" type="BitDepth" minOccurs="0"/>
			<xsd:element name="AudioBitDepthMinimum" type="BitDepth" minOccurs="0"/>
			<xsd:element name="AudioBitDepthRecommended" type="BitDepth" minOccurs="0"/>
			<xsd:element name="AudioChannelsMinimum" type="xsd:integer" minOccurs="0"/>
			<xsd:element name="AudioChannelsRecommended" type="xsd:integer" minOccurs="0"/>
			<xsd:element name="AudioSampleRate" type="AudioSampleRate" minOccurs="0"/>
			<xsd:element name="InputDevice" type="InputDevice" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="StorageDevice" type="StorageDevice" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="NetworkDevice" type="xsd:boolean" minOccurs="0"/>
			<xsd:element name="DataExtraction" type="DataExtraction" minOccurs="0"/>
			<!--xsd:any namespace="##local" processContents="lax" minOccurs="0" maxOccurs="unbounded"/-->
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="sfwPUID">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="(x-)?(sfw)/([0-9]*[a-z]*)+"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- Definition for a software product -->
	<xsd:complexType name="SoftwareProduct">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">
Basic definition for a software product. This can be used to describe preservation action tools,
but also other software products such as operating systems. The MigrationTool and EmulationTool
elements are derived from this element
</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="GeneralInfo" type="GeneralInfo"/>
			<xsd:element name="HostEnvironment" type="TechnicalEnvironment" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="Source" type="Provenance"/>
		</xsd:sequence>
		<xsd:attribute name="id" type="sfwPUID"/>
	</xsd:complexType>
	<!-- Definition for emulation tool -->
	<xsd:complexType name="EmulationTool">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">
Definition for an emulation tool, derived from PreservationTool. This element is
used for describing 'tools for environments'. These are tools that can be used
to mimic a certain technical environment by means of emulation or virtualisation
</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="SoftwareProduct">
				<xsd:sequence>
					<xsd:element name="TargetEnvironment" type="TechnicalEnvironment" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- Definition for migration tool -->
	<xsd:complexType name="MigrationTool">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">
Definition for a migration tool; derived from PreservationTool. This element is
used for describing tools that can convert files from one type to another.
</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="SoftwareProduct">
				<xsd:sequence>
					<xsd:element name="OutputFormat" type="FileSet" maxOccurs="unbounded"/>
					<xsd:element name="BatchProcessing" type="xsd:boolean"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
</xsd:schema>
