minimee/minimee-tools/evaluators/xcl/res/xcl/xcel/xcel_docs/schemas/XCLBasicDataTypesLib.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
	* XCLBasicDataTypesLib.xsd
	* This module is part of the XCL software system
	*
	* Written by  Sebastian Beyl, Elona Chudobkaite, Volker Heydegger, Jan Schnasse, Manfred Thaller 2006 - 2008
	*
	* Copyright (C)  2006 - 2008   Sebastian Beyl, Elona Chudobkaite, Volker Heydegger, Jan Schnasse, Manfred Thaller 
	*
	* This program is free software; you can redistribute it and/or modify
	* it under the terms of the GNU General Public License as published by
	* the Free Software Foundation; either version 2 of the License, or
	* (at your option) any later version.
	*
	* This program is distributed in the hope that it will be useful,
	* but WITHOUT ANY WARRANTY; without even the implied warranty of
	* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
	* GNU General Public License for more details.
	*
-->
<!-- extensible characterisation language: data types library for XCDL and XCEL documents -->
<!-- created by PLANETS, PC2, University of Cologne, HKI -->
<!-- version 1.0, October 31, 2006 -->
<!-- change history: no changes -->
	<xs:schema 
	xmlns="http://www.planets-project.eu/xcl/schemas/xcl"
	xmlns:xs="http://www.w3.org/2001/XMLSchema" 
	xmlns:tns="http://www.planets-project.eu/xcl/schemas/xcl" 
	targetNamespace="http://www.planets-project.eu/xcl/schemas/xcl" 
	elementFormDefault="qualified"
	version="1.0" 
	xml:lang="en">
	
	<!-- ******************* data type definitions ************************ -->
	<xs:simpleType name="xclDataTypeDefinition">
		<xs:union memberTypes="tns:xclDataTypes tns:xclCharacterEncodingTypes"/>
	</xs:simpleType>
	<!-- ********************  data types ******************************** -->
	<xs:simpleType name="xclDataTypes">
		<xs:restriction base="xs:string">
			<xs:enumeration value="decimal">
				<xs:annotation>
					<xs:documentation>standard mathematical concept of decimal numbers, negativ or positive, no limit on places and decimal places</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="int">
				<xs:annotation>
					<xs:documentation>standard mathematical concept of numbers, negative or positive, no limit on places</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="int8">
				<xs:annotation>
					<xs:documentation>signed 8 bits integer</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="int16">
				<xs:annotation>
					<xs:documentation>signed 16 bits integer</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="int32">
				<xs:annotation>
					<xs:documentation>signed 32 bits integer</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="int64">
				<xs:annotation>
					<xs:documentation>signed 64 bits integer</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="uint8">
				<xs:annotation>
					<xs:documentation>unsigned 8 bits integer</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="uint16">
				<xs:annotation>
					<xs:documentation>unsigned 16 bits integer</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="uint32">
				<xs:annotation>
					<xs:documentation>unsigned 32 bits integer</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="uint32Rational">
				<xs:annotation>
					<xs:documentation>two 16Bit integers where the first... see TIFF spec</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="uint64">
				<xs:annotation>
					<xs:documentation>unsigned 64 bits integer</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="bin">
				<xs:annotation>
					<xs:documentation>binary data.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="string">
				<xs:annotation>
					<xs:documentation>Any encoded character string</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="XCLLabel">
				<xs:annotation>
					<xs:documentation>a string representing a unique label that conforms to XCL properties ontology</xs:documentation>
				</xs:annotation>
			</xs:enumeration>			
			<xs:enumeration value="timeISO8601">
				<xs:annotation>
					<xs:documentation>type for full date and time according to ISO 8601</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<!-- 
				<xs:enumeration value="floatIEEE754">
				<xs:annotation>
					<xs:documentation>Floating point number according to IEEE 754 standard</xs:documentation>
				</xs:annotation>
			</xs:enumeration> -->
			<!-- next two: delete? -->
			<xs:enumeration value="bit">
				<xs:annotation>
					<xs:documentation>smallest information unit representing either 0 or 1</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="byte">
				<xs:annotation>
					<xs:documentation>sequence of eight bits</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="xclCharacterEncodingTypes">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Latin1">
				<xs:annotation>
					<xs:documentation> ISO 8859-1 (Latin-1) Characters List</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ASCII">
				<xs:annotation>
					<xs:documentation>ASCII (American Standard Code for Information Interchange), is a character encoding based on the English alphabet. </xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="utf-8">
				<xs:annotation>
					<xs:documentation>UTF-8 stands for Unicode Transformation Format-8. It is an octet (8-bit) lossless encoding of Unicode characters</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="utf-16">
				<xs:annotation>
					<xs:documentation>UTF-16 stands for Unicode Transformation Format-16. It is an octet (16-bit) lossless encoding of Unicode characters</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="iso-646">
				<xs:annotation>
					<xs:documentation>UTF-16 stands for Unicode Transformation Format-16. It is an octet (16-bit) lossless encoding of Unicode characters</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			
			
			
			
			
			
			
			<!--rtf-->
			<xs:enumeration value="cp708">
				<xs:annotation>
					<xs:documentation></xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="cp709">
				<xs:annotation>
					<xs:documentation></xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="cp710">
				<xs:annotation>
					<xs:documentation></xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="cp711">
				<xs:annotation>
					<xs:documentation></xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="cp720">
				<xs:annotation>
					<xs:documentation></xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="cp819">
				<xs:annotation>
					<xs:documentation></xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="cp850">
				<xs:annotation>
					<xs:documentation></xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="cp852">
				<xs:annotation>
					<xs:documentation></xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="cp860">
				<xs:annotation>
					<xs:documentation></xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="cp862">
				<xs:annotation>
					<xs:documentation></xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="cp863">
				<xs:annotation>
					<xs:documentation></xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="cp864">
				<xs:annotation>
					<xs:documentation></xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="cp865">
				<xs:annotation>
					<xs:documentation></xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="cp866">
				<xs:annotation>
					<xs:documentation></xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="cp874">
				<xs:annotation>
					<xs:documentation></xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="cp932">
				<xs:annotation>
					<xs:documentation></xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="cp936">
				<xs:annotation>
					<xs:documentation></xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="cp949">
				<xs:annotation>
					<xs:documentation></xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="cp950">
				<xs:annotation>
					<xs:documentation></xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="cp1250">
				<xs:annotation>
					<xs:documentation></xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="cp1251">
				<xs:annotation>
					<xs:documentation></xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="cp1252">
				<xs:annotation>
					<xs:documentation></xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="cp1253">
				<xs:annotation>
					<xs:documentation></xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="cp1254">
				<xs:annotation>
					<xs:documentation></xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="cp1255">
				<xs:annotation>
					<xs:documentation></xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="cp1256">
				<xs:annotation>
					<xs:documentation></xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="cp1257">
				<xs:annotation>
					<xs:documentation></xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="cp1258">
				<xs:annotation>
					<xs:documentation></xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="cp1361">
				<xs:annotation>
					<xs:documentation></xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			
			
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
